body {
  background: #FFFFF0;
}

h1 {
  text-align: center;
  color:
}
	
nav {
	background: gray;
	padding: 15px;
}
	
nav a {
	padding: 4px;
	text-decoration: none;
	border: 3px solid black;
	border-radius: 20px;
	background: yellow;
	color: blue;
}
	
.feedback {
  margin: 0 0 0 1190px;
}
	
a:hover {
  color: red;
  background: white;
}
